.JoinPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.JoinContainer {
  border: 2px solid white;
  height: 75%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.JoinContainer > img {
  width: 20%;
}
.JoinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  font-family: 'Poppins', sans-serif;
  width: 60%;
  border-bottom: 0.2vmax solid white;
  text-align: center;
  box-sizing: border-box;
}

#joinInput {
  width: 60%;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  box-sizing: border-box;
  transition: all 0.3s;
}
.JoinContainer > a {
  width: 60%;
  padding: 1.5vmax;
  margin-top: 1rem;
  border: none;
  color: white;
  outline: none;
  font-size: 1.2vmax;
  background-color: #3c76f1;
  box-sizing: border-box;
  transition: all 0.3s;
}
.JoinContainer > a > #joinButton {
  border: none;
  color: white;
  outline: none;
  width: 100%;
  background-color: #3c76f1;
  cursor: pointer;
  transition: all 0.3s;
}
.JoinContainer > a:hover,
.JoinContainer > a:hover #joinButton {
  background-color: #2666f1;
}
